{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block container %}
    {% embed organism('jumbotron-slider') only %}
        {% block body %}
            {% embed molecule('slick-carousel') with {
                attributes: {
                    'data-json': attributes['data-json'],
                },
            } only %}
                {% block slides %}
                    {% cms_slot 'slt-2' %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}


    <div class="container container--home-page">
        <main>
            {% block content %}

                {% cms_slot 'slt-3' %}

            {% endblock %}
        </main>
    </div>
 
<div class="featured-products-section">
    <h1>Featured Products</h1>
    <div class="featured-products-list">
       
        {% include '@FeaturedProducts/views/product/get.twig' with { 'FeaturedProducts': FeaturedProducts } %}
    </div>
</div>


  
{% endblock %}
